@model TicketViewModel
@using GuacosTracker3.SharedData
@*@using static GuacosTracker3.Controllers.CustomersController*@

@{
    ViewData["Title"] = "Create";
}




<div class="col-span-6">
    <h2>Creating ticket for: @Model.Customer.FName @Model.Customer.LName</h2>
</div>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateTicket">
            <div asp-validation-summary="All" class="text-danger"></div>

            <input type="hidden" asp-for="Tickets" value="@Model.Tickets"/>
            <span asp-validation-for="Tickets" class="text-danger"></span>

            <input type="hidden" asp-for="Ticket.Customer" value="@Model.Customer.Id"/>
            <span asp-validation-for="Ticket.Customer" class="text-danger"></span>

            <div class="form-group text-danger">(*) Required</div>

            <div class="form-group mt-2">
                <label asp-for="Ticket.Title" class="control-label"></label> <span class="text-danger">*</span>
                <input asp-for="Ticket.Title" class="form-control" />
                <span asp-validation-for="Ticket.Title" class="text-danger"></span>
            </div>

            <div class="form-group">
                @*Will be pulled automatically*@
                @*<label asp-for="Ticket.EmployeeId" class="control-label"></label>**@
                <input type="hidden" asp-for="Ticket.EmployeeId" class="form-control" value="@User.Claims.FirstOrDefault(c => c.Type == ClaimTypes.NameIdentifier)?.Value" />
            </div>
            <div class="form-group">
                <label asp-for="Ticket.Description" class="control-label"></label> <span class="text-danger">*</span>
                <textarea asp-for="Ticket.Description" class="form-control"></textarea>
                <span asp-validation-for="Ticket.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ticket.Status" class="control-label"></label> <span class="text-danger">*</span>
                @*<select asp-for="Ticket.Status" class="form-control" asp-items="Html.GetEnumSelectList<StatusList>()">*@
                <select asp-for="Ticket.Status" class="form-control" asp-items="ProgressList.GetStatusListOpen()">
                </select> @*for drop down for status*@
                @*<input asp-for="Status" class="form-control" />*@
                <span asp-validation-for="Ticket.Status" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="control-label mt-2">
                    <input class="form-check-input" asp-for="Ticket.Priority" /> @Html.DisplayNameFor(model => model.Ticket.Priority)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary mt-2" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="Customer" asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
