@model TicketViewModel

<div class="row my-3">
	<div class="col">
		<h2>@Html.DisplayFor(model => model.Customer.LName), @Html.DisplayFor(model => model.Customer.FName)</h2>
		<hr />
	</div>
</div>

<div class="row my-3">
	<div class="col">
		<dl class="row">
			<dt class="col-sm-4">
				@Html.DisplayNameFor(model => model.Customer.Address)
			</dt>
			<dd class="col-sm-8">
				@if (Model.Customer.Address == null || Model.Customer.Address == "")
				{
					<span>--</span>
				}
				else
				{
					@Html.DisplayFor(model => model.Customer.Address)
				}
			</dd>
			<dt class="col-sm-4">
				@Html.DisplayNameFor(model => model.Customer.Phone)
			</dt>
			<dd class="col-sm-8">
				@if (Model.Customer.Phone == null || Model.Customer.Phone == "")
				{
					<span>--</span>
				}
				else
				{
					@Html.DisplayFor(model => model.Customer.Phone)
				}
			</dd>
			<dt class="col-sm-4">
				@Html.DisplayNameFor(model => model.Customer.AltPhone)
			</dt>
			<dd class="col-sm-8">
				@if (Model.Customer.AltPhone == null || Model.Customer.AltPhone == "")
				{
					<span>--</span>
				}
				else
				{
					@Html.DisplayFor(model => model.Customer.AltPhone)
				}
			</dd>
			<dt class="col-sm-4">
				@Html.DisplayNameFor(model => model.Customer.Email)
			</dt>
			<dd class="col-sm-8">
				@if (Model.Customer.Email == null || Model.Customer.Email == "")
				{
					<span>--</span>
				}
				else
				{
					@Html.DisplayFor(model => model.Customer.Email)
				}
			</dd>
		</dl>
	</div>
</div>

<div class="row my-3">
	<div class="col">
		<a asp-action="Edit" asp-route-id="@Model?.Customer.Id">Edit</a> |
		<a asp-action="Index">Back to List</a>
		<hr />
	</div>
</div>

<div class="row my-3">
	<div class="col">
		<table class="table table-striped table-hover">
			<thead>
				<tr>
					<th>
						Tickets
					</th>
				</tr>
			</thead>
			<tbody>
				@if (Model.Tickets.Count == 0)
				{
					<tr>
						<td>No tickets!</td>
					</tr>
				}
				else
				{
					@foreach (Ticket item in Model.Tickets)
					{
						<tr>
							<td>
								<a asp-controller="Ticket" asp-action="Details" asp-route-id="@item.Id" class="text-decoration-none text-reset">@Html.DisplayFor(modelItem => item.Title)</a>
							</td>
							<td>
								@Html.DisplayFor(modelItem => item.RecentStatus)
							</td>
							<td>
								@item.Date.ToString("MM/dd/yy")
							</td>
						</tr>
					}
				}
			</tbody>
		</table>
	</div>
</div>
