@model TicketViewModel
@*CUSTOMER DETAILS*@

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Customers</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Customer.FName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Customer.FName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Customer.LName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Customer.LName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Customer.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Customer.Address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Customer.Phone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Customer.Phone)
        </dd>
        @if (@Model.Customer.AltPhone != null)
        {
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Customer.AltPhone)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Customer.AltPhone)
            </dd>
        }

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Customer.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Customer.Email)
        </dd>
    </dl>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model?.Customer.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>

<div>
    <table class="table table-striped table-hover table-bordered mt-2">
        <thead>
            <tr>
                <th>
                    Tickets:
                </th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Tickets == null)
            {
                <tr>
                    No tickets!
                </tr>
            }
            else
            {
                @foreach (Ticket item in Model.Tickets)
                {
                    <tr>
                        <td>
                            <a asp-controller="Ticket" asp-action="Details" asp-route-id="@item.Id" class="text-decoration-none text-reset">@Html.DisplayFor(modelItem => item.Title)</a>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.RecentStatus)
                        </td>
                        <td>
                            @item.Date.ToString("MM/dd/yy")
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
