@model Account

@{
    ViewData["Title"] = "User Profile";
}

@*
    There is a much better way to go about this, but for the
    purpose of displaying information
    in a basic manner this was my approach.
*@
<h3 class="text-center">@ViewData["Title"]</h3>
<div class="row">
    <div class="d-flex justify-content-center col-md-12 mt-2">

        <div>
            <img src="@Model.Picture"
                 alt="" class="img-rounded img-responsive" />
        </div>


        <div style="margin-left:15px;">
            <table class="table table-sm">
                <tr>
                    <th scope="col">Name:</th>
                    <td>@Model.Name</td>
                </tr>

                <tr>
                    <th scope="col">Email:</th>
                    <td>@Model.Email</td>
                </tr>

                <tr>
                    <th scope="col">Role:</th>
                    <td>@Model.Role</td>
                </tr>

                <tr class="">
                    <th scope="col">AuthId:</th>
                    <td>@Model.id</td>
                </tr>

                <tr>
                    <th scope="col">Empty:</th>
                    <td>@User.Claims.FirstOrDefault(c => c.Type == "nickname")?.Value</td>
                </tr>
            </table>
        </div>

    </div>
</div>
