@{
    string? currentController = ViewContext.RouteData.Values["controller"]?.ToString();
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - GuacosTracker3</title>
    <meta name="theme-name" content="mono" />

    <link href="https://fonts.googleapis.com/css?family=Karla:400,700|Roboto" rel="stylesheet">

    <link id="main-css-href" rel="stylesheet" href="~/css/style.css" />
</head>

<body class="navbar-fixed sidebar-fixed" id="body">
    <div id="toaster"></div>

    <div class="wrapper">
        <aside class="left-sidebar sidebar-dark" id="left-sidebar">
            <div id="sidebar" class="sidebar sidebar-with-footer">
                <div class="app-brand">
                    <a asp-area="" asp-controller="Home" asp-action="Index">
                        <span class="brand-name">Guaco's Tracker</span>
                    </a>
                </div>

                <div class="sidebar-left" data-simplebar style="height: 100%;">
                    <ul class="nav sidebar-inner" id="sidebar-menu">
                        <li class="@(currentController.Equals("Home") ? "active" : "")">
                            <a class="sidenav-item-link" asp-area="" asp-controller="Home" asp-action="Index">
                                <i class="mdi mdi-home"></i>
                                <span class="nav-text">Home</span>
                            </a>
                        </li>

                        <li class="@(currentController.Equals("Customer") ? "active" : "")">
                            <a class="sidenav-item-link" asp-area="" asp-controller="Customer" asp-action="Index">
                                <i class="mdi mdi-account-group"></i>
                                <span class="nav-text">Customers</span>
                            </a>
                        </li>

                        <li class="@(currentController.Equals("Ticket") ? "active" : "")">
                            <a class="sidenav-item-link" asp-area="" asp-controller="Ticket" asp-action="Index">
                                <i class="mdi mdi-ticket-outline"></i>
                                <span class="nav-text">Tickets</span>
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="sidebar-footer">

                    
                    <div class="sidebar-footer-content">
                        <partial name="_LoginPartial" />
                    </div>
                </div>
            </div>
        </aside>

        <div class="page-wrapper">
            <header class="main-header" id="header">
                <nav class="navbar navbar-expand-lg navbar-light" id="navbar">
                    <button id="sidebar-toggler" class="sidebar-toggle">
                        <span class="sr-only">Toggle navigation</span>
                    </button>

                    <span class="page-title">dashboard</span>

                    <div class="navbar-right"></div>
                </nav>


            </header>

            <div class="content">
                <main role="main" class="pb-3">
                    @RenderBody()
                </main>
            </div>

            <footer class="footer mt-auto">
                <div class="copyright bg-white">
                    <span>&copy; <span id="copy-year"></span> Joseph Salcedo</span>
                </div>
            </footer>

        </div>
    </div>

    <script>
        var d = new Date();
        var year = d.getFullYear();
        document.getElementById("copy-year").textContent = year;
    </script>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
