@model TicketNotesViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Ticket</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            ID
        </dt>
        <dd class="col-sm-10">
            @Model.Ticket.CustomerId
        </dd>
        <dt class="col-sm-2">
            TITLE
        </dt>
        <dd class="col-sm-10">
            @Model.Ticket.Title
        </dd>
        <dt class="col-sm-2">
            EMPID
        </dt>
        <dd class="col-sm-10">
            @Model.Ticket.EmployeeId
        </dd>
        <dt class="col-sm-2">
            DATE
        </dt>
        <dd class="col-sm-10">
            @Model.Ticket.Date
        </dd>
        <dt class="col-sm-2">
            DESCRIP
        </dt>
        <dd class="col-sm-10">
            @Model.Ticket.Description
        </dd>
        <dt class="col-sm-2">
            STATUS
        </dt>
        <dd class="col-sm-10">
            @Model.Ticket.Status
        </dd>
        <dt class="col-sm-2">
            PRIOR
        </dt>
        <dd class="col-sm-10">
            @Model.Ticket.Priority
        </dd>
    </dl>
</div>
<div>

    <form method="post" asp-controller="Notes" asp-action="Create" asp-route-id="@Model?.Ticket.Id">
        <input type="submit" value="Create Note" class="btn btn-primary" />

    </form> 
    <a asp-action="Edit" asp-route-id="@Model?.Ticket.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
