@model TicketCreateViewModel
@using GuacosTracker3.SharedData

<div class="row my-3">
    <div class="col">
        <div id="customer-search-container">
            <details id="customer-details">
                <summary>Customer information</summary>
                <div class="d-flex gap-2">
                    <input type="text" name="customer-lname" id="customer-lname-input" class="form-control" value="" placeholder="Last name" />
                    <input type="text" name="customer-fname" id="customer-fname-input" class="form-control" value="" placeholder="First name" />
                    <button class="btn btn-primary" id="customer-lookup-btn" type="button">Search</button>
                </div>

                <div id="customer-results" class="my-2"></div>
            </details>
        </div>

        <hr>

        <div class="my-3">
            @if(Model.CustomerID != null){
                <h2>Customer selected</h2>
                <span>@Model.CustomerName</span>
            } else {
                <h2>No customer selected</h2>
            }
        </div>

        <form asp-action="Create">
            <div class="form-group text-danger">(*) Required</div>
            <div asp-validation-summary="All" class="text-danger"></div>

            <input type="hidden" asp-for="@Model.CustomerID"/>

            <div class="form-group">
                <label asp-for="@Model.Title" class="control-label"></label> <span class="text-danger">*</span>
                <span asp-validation-for="@Model.Title" class="text-danger"></span>
                <input asp-for="@Model.Title" class="form-control" />
                <span><span id="title-characters" class="text-danger">0</span>/100</span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Status" class="control-label"></label> <span class="text-danger">*</span>
                <span asp-validation-for="@Model.Status" class="text-danger"></span>
                <select asp-for="@Model.Status" class="form-control" asp-items="ProgressList.GetStatusListOpen()">
                </select>
            </div>
            <div class="form-group">
                @{/*<input type="hidden" asp-for="Ticket.EmployeeID" class="form-control" value="@User.Claims.FirstOrDefault(c => c.Type == ClaimTypes.NameIdentifier)?.Value" />*/}
            </div>
            <div class="form-group">
                <label asp-for="@Model.Description" class="control-label"></label> <span class="text-danger">*</span>
                <span asp-validation-for="@Model.Description" class="text-danger"></span>
                <textarea asp-for="@Model.Description" class="form-control" rows="4"></textarea>
                <span><span id="textarea-characters" class="text-danger">0</span>/4000</span>
            </div>
           
            <div class="form-group form-check">
                <label class="control-label mt-2">
                    @{/*<input class="form-check-input" asp-for="Ticket.Priority" /> @Html.DisplayNameFor(model => model.Ticket.Priority)*/}
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary mt-2" />
            </div>
        </form>
    </div>
</div>

<div class="row my-3">
    <div class="col">
        <a asp-controller="Customer" asp-action="Index">Back to List</a>
    </div>
</div>

<script src="~/js/trackText.js"></script>
<script src="~/Ticket/static/CustomerTable.js"></script>
<script src="~/Ticket/static/getCustomerInfo.js"></script>

<script>
    trackText('Description', 'textarea-characters', 10, 4000);
    trackText('Title', 'title-characters', 10, 100);

    main('@Url.RouteUrl("Get_Customer")', '', '');
</script>