@using GuacosTracker3.SharedData
@model TicketNoteCustomerViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div class="row">

    <h4>
        Ticket: @Html.DisplayFor(model => model.Ticket.Title)
    </h4>
    <hr />


    <div class="col-md-6">
        <table class="table table-bordered mt-2">
            <tbody>
                <tr class="table-active">
                    <th>@Html.DisplayNameFor(model => model.Ticket.Id):</th>
                    <td>@Html.DisplayFor(model => model.Ticket.Id)</td>
                </tr>
                <tr class="table-active">
                    <th>Customer:</th>
                    <td>
                        @Html.DisplayFor(model => model.Customer.LName),
                        @Html.DisplayFor(model => model.Customer.FName)
                    </td>
                </tr>
                <tr class="table-active">
                    <th>@Html.DisplayNameFor(model => model.Ticket.Date):</th>
                    <td>@Html.DisplayFor(model => model.Ticket.Date)</td>
                </tr>
                <tr class="table-active">
                    <th>@Html.DisplayNameFor(model => model.Ticket.EmployeeId):</th>
                    <td colspan="3">@Html.DisplayFor(model => model.Ticket.EmployeeId)</td>
                </tr>
                <tr class="table-default">
                    <td colspan="4">
                        <textarea class="form-control" readonly>@Html.DisplayFor(model => model.Ticket.Description)</textarea>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model?.Ticket.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>

<div class="mt-4">
    <h4>Notes</h4>
    <hr />
</div>

<div class="row">
    <h5>Add Note:</h5>
    <div class="col-md-6">
        <form asp-action="Details">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div>
                <input type="hidden" asp-for="Ticket" value="@Model.Ticket.Id" />
                <input type="hidden" asp-for="Ticket" value="@Model.Ticket" />
                <input type="hidden" asp-for="Customer" value="@Model.Customer" />
                <input type="hidden" asp-for="Note.EmployeeId" class="form-control" value="@User.Claims.FirstOrDefault(c => c.Type == ClaimTypes.NameIdentifier)?.Value" />
            </div>

            <div class="form-group">
                <label asp-for="Note.Description" class="control-label"></label>*
                <textarea asp-for="Note.Description" class="form-control"></textarea>
                <span asp-validation-for="Note.Description" class="text-danger"></span>
            </div>
            <div>
                <label asp-for="Note.Status" class="control-label"></label>*
                <select asp-for="Note.Status" class="form-control" asp-items="ProgressList.GetStatusList()">
                </select>
                <span asp-validation-for="Note.Status" class="text-danger"></span>
            </div>
            <div class="form-group mt-2 mb-4">
                <input type="submit" value="Create Note" class="btn btn-primary" />
            </div>
        </form>
    </div>
    <hr />
</div>

<div class="row">
    <div class="col-md-6">
        <table class="table table-bordered mt-2">
            <thead>
                @if (!Model.Notes.Any())
                {
                    <tr>
                        <th>
                            No previous notes.
                        </th>
                    </tr>
                }
                else
                {
                    <tr>
                        <th colspan="2" class="bg-active">
                            Notes:
                        </th>
                    </tr>

                }

            </thead>
            <tbody>
                @if (Model.Notes.Any())
                {
                    @foreach (Note item in Model.Notes)
                    {
                        <tr class="table-active">
                            <td>
                                <b>ID:</b> @item.Id
                            </td>
                            <td>
                                @item.Date.ToString("MM/dd/yy")
                            </td>
                        </tr>

                        <tr class="@ProgressList.BgColor(item.Status)">
                            <td colspan="2">
                                <b>Status: </b> @Html.DisplayFor(modelItem => item.Status)
                            </td>
                        </tr>

                        <tr>
                            <td colspan="2">
                                <label asp-for="Note.Description" class="control-label"></label>
                                <textarea class="form-control" readonly>@Html.DisplayFor(modelItem => item.Description)</textarea>
                            </td>
                        </tr>

                        <tr class="small">
                            <td colspan="2">
                                <i class="text-secondary">
                                    Note created by: @item.EmployeeId @User.Claims.FirstOrDefault(c => c.Type == item.EmployeeId)?.Value
                                   @* @User.Claims.FirstOrDefault(c => c.Type == ClaimTypes.Role)?.Value *@
                                    @User.FindFirst(c => c.Type == "name")?.Value
                                    
                                </i>
                            </td>
                        </tr>

                    }
                }
            </tbody>
        </table>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
