@using GuacosTracker3.SharedData
@model List<TicketViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-controller="Customer" asp-action="Index">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Status
            </th>
            <th>
                Customer
            </th>
            <th>
                Employee ID
            </th>
            <th>
                Date
            </th>

            <th>
                Title
            </th>
            <th>
                Priority
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (TicketViewModel item in Model)
        {
            <tr class="@ProgressList.BgColor(item.Ticket.RecentStatus)">
                <td>
                    @Html.DisplayFor(Model => item.Ticket.RecentStatus)
                </td>
                <td>
                    @Html.DisplayFor(Model => item.Customer.FName)
                    @Html.DisplayFor(Model => item.Customer.LName)
                </td>
                <td>
                    @User.FindFirstValue("name")
                    @Html.DisplayFor(Model => item.Ticket.EmployeeId)
                </td>
                <td>
                    @Html.DisplayFor(Model => item.Ticket.RecentChange)
                </td>
                <td>
                    @Html.DisplayFor(Model => item.Ticket.Title)
                </td>

                <td>
                    @Html.DisplayFor(Model => item.Ticket.Priority)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Ticket.Id" class="btn"><i class="fa-sharp fa-solid fa-circle-info d-inline"></i></a>
                    @*Deletes the Ticket, highly do not recommend, might be locked for admins only*@
                    @if (User.IsInRole("Admin"))
                    {
                        <a asp-action="Edit" asp-route-id="@item.Ticket.Id" class="btn"><i class="fa-sharp fa-solid fa-pen-to-square d-inline"></i></a>

                        <form asp-route-id="@item.Ticket.Id" asp-action="Delete" class=" d-inline">
                            <button class="btn"><i class="fa-sharp fa-solid fa-trash d-inline"></i></button>
                        </form>
                    }
                    else
                    {
                        <a class="btn" title="Higher Permissions Required"><i class="fa-sharp fa-solid fa-pen-to-square d-inline opacity-25"></i></a>

                        <a class="btn" title="Higher Permissions Required"><i class="fa-sharp fa-solid fa-trash d-inline opacity-25"></i></a>
                    }

                </td>
            </tr>
        }
    </tbody>
</table>
