@using GuacosTracker3.SharedData
@using static GuacosTracker3.Utilities.Pagination
@model PaginatedList<GuacosTracker3.Models.ViewModels.TicketViewModel>

<div class="row my-3">
    <div class="col d-flex justify-content-between">
        <div class="my-auto">
            <a asp-controller="Customer" asp-action="Index">Create New</a>
        </div>

        <div class="d-none gap-3">
            <div class="d-flex text-nowrap align-items-center gap-2">
                <label class="form-label d-inline" for="list-max">Results per page</label>
                <select name="list-max" class="form-select" id="dl-page-load">
                    <option value="1">1</option>
                    <option value="10">10</option>
                    <option value="15">15</option>
                    <option value="20">20</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                </select>
            </div>

            <div class="d-flex text-nowrap align-items-center gap-2">
                <label class="form-label" for="show-hidden">Show Hidden</label>
                <input type="checkbox" class="form-check" id="show-hidden" value="true" />
            </div>
        </div>
    </div>
</div>

<div class="row my-3">
    <div class="col table-responsive">
        <table class="table text-nowrapx">
            <thead>
                <tr>
                    <th>
                        Status
                    </th>
                    <th>
                        Customer
                    </th>
                    <th>
                        Title
                    </th>
                    <th>
                        Date
                    </th>
                    <th>
                        Priority
                    </th>
                    <th>
                        Actions
                    </th>
                </tr>
            </thead>
            <tbody>
                @if (Model == null){
                    <tr>
                        <td colspan="6">No tickets!</td>
                    </tr>
                } else {
                    @foreach (var item in Model)
                    {
                        <tr class="@ProgressList.BgColor(item.Ticket.RecentStatus ?? item.Ticket.Status)">
                            <td>
                                @(item.Ticket.RecentStatus ?? item.Ticket.Status)
                            </td>
                            <td>
                                @item.CustomerName
                            </td>
                            <td>
                                @item.Ticket.Title
                            </td>
                            <td>
                                @item.Ticket.RecentChange
                            </td>
                            <td>
                                <input type="checkbox" checked="@item.Ticket.Priority" class="form-check-input mx-auto" disabled />
                            </td>
                            <td>
                                <a asp-action="Details" asp-route-id="@item.Ticket.Id" class="btnx">Details</a>
                                <span>|</span>
                                @*Deletes the Ticket, highly do not recommend, might be locked for admins only*@
                                @if (User.IsInRole("Admin"))
                                {
                                    <a asp-action="Edit" asp-route-id="@item.Ticket.Id">Edit</a>
                                    <span>|</span>
                                    <form asp-route-id="@item.Ticket.Id" asp-action="Delete" class="d-inline p-1">
                                        <button class="text-danger">Delete</button>
                                    </form>
                                }
                                else
                                {
                                    <a class="btn" title="Higher Permissions Required">Edit</a>

                                    <a class="btn" title="Higher Permissions Required">Delete</a>
                                }
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>

<div class="row my-3">
    <div class="col d-flex justify-content-around">
        @{
            string hasPreviousPage = !Model.HasPreviousPage ? "disabled" : "";
            string hasNextPage = !Model.HasNextPage ? "disabled" : "";
        }
        <div>
            <a asp-action="Index"
               asp-route-pageNum="1"
               class="btn btn-default @hasPreviousPage">
                &lt; &lt;
            </a>

            <a asp-action="Index"
               asp-route-pageNum="@(Model.PageIndex - 1)"
               class="btn btn-default @hasPreviousPage">
                Previous
            </a>
        </div>

        <div class="my-auto">
            <span class="my-auto">Page</span>

            <span>@Model.PageIndex</span>

            <span>of</span>

            <span>@Model.TotalPages</span>
        </div>

        <div>
            <a asp-action="Index"
               asp-route-pageNum="@(Model.PageIndex + 1)"
               class="btn btn-default @hasNextPage">
                Next
            </a>

            <a asp-action="Index"
               asp-route-pageNum="@(Model.TotalPages)"
               class="btn btn-default @hasNextPage">
                &gt; &gt;
            </a>
        </div>
    </div>
</div>